.headerHome {
    color: white;
    height: 100vh;
    background-image: url("https://cdn.tgdd.vn/hoi-dap/1325288/cong-nghe-thong-tin-la-gi-tong-quan-ve-nganh-cntt-2-1-800x450.jpg");
    background-size: 100%;
}
.toolbarHome {
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background: rgba(235, 238, 240, 0.418);
}
.homeToolbarNav {
    display: flex;
    padding: 0;
    margin: 0;
}
.homeToolbarNav li{
    list-style: none;
}
/* =======================TOOLBAR HEADER======================= */
.toolbarHome nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.homeNav li{
    padding-right: 20px;
    display: flex;
}
.homeNav h2 {
    padding-left: 20px;
}
.navLiHome {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: white;
}
.navLiHome img {
    display: flex;
    height: 65px;
}
/*// */
.signin{
    color: rgb(15, 15, 15);
    background: white;
}
.login{
    color: white;
}
.in{
    border: 1.5px solid white;
    margin: 0 3px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    line-height: 65px;
}
.in:hover {
    padding:11px 30px 9px 30px ;
}
/* ==================CONTENT HEADER============================ */
.mainHeader {
    padding-top: 65px;
    width: 70%;
    margin: 0 auto;
}
.dvantages {
    margin-top: 20%;
    font-weight: 900;
    font-size: 25px;
}
.helpHome {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white ;
    font-weight: 900;
}
.helpHome .button {
    font-weight: 500;
    padding: 5px 50px;
    background: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    color: rgb(46, 44, 44);
    border-radius: 5px;
}

        /* ***** */
        .hiddenToolbarHome {
            background: rgb(182, 198, 211);
            z-index: 2;
        }
        /* ****** */